.profile-picture{
    /* height: 25%; */
    width: 20%;
    object-fit: cover;
    border-radius:120px;
    object-fit: cover;
}

.social {
    font-size: 40px;
    height: 40px;
  }

.card-img{
    border: 1px solid black;
}