.profile-picture {
    width: 20%;
    object-fit: cover;
    border-radius: 120px;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.profile-picture:hover{
    transform: rotate3d(0, 10, 1, 15deg);
}





.component-details {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
}

.social {
    font-size: 40px;
    height: 40px;
}

.card-img {
    border: 1px solid black;
}



.icons {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 1.5rem 0;

}

a {
    text-decoration: none;
    font-size: small;
    transition: ease-in-out .8s;
}

h5>a{
    margin: 1rem;
}

h5>a:hover {
    transform: scale(1.3);
}

.developed-component {
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px 2px;
}

.galaxyButton {
    display: flex;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 150px;
    animation: galaxySpinning 3s infinite;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;

}

.galaxyIcon {
    width: 100%;
    top: 0;
    right: 0;
}

li {
    font-size: smaller;
}

.projects-card {
    width: 400px;

    .card-body {
        .list-group-flush {
            height: 100px;
        }

        .lead-box {
            height: 60px;
            margin-top: 1rem;

            .lead {
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                margin-bottom: 1.5rem;
            }
        }
    }
}

@keyframes galaxySpinning {

    0% {
        transform: scale(1) rotateZ(0deg);
    }

    50% {
        transform: scale(1.2) rotateZ(20deg);
    }

    100% {
        transform: scale(1) rotateZ(0deg);
    }
}